@model WebApplication1.Models.Offre

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Offre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroOffre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroOffre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitreOffre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitreOffre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOffre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionOffre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anciennete.DureeExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anciennete.DureeExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrat.TypeDeContrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrat.TypeDeContrat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metier.CategorieMetier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metier.CategorieMetier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.ListeRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.ListeRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remuneration.IdRemuneration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remuneration.IdRemuneration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
