@model WebApplication1.Models.Metier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Metier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategorieMetier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategorieMetier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomMetier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomMetier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMetier }) |
    @Html.ActionLink("Back to List", "Index")
</p>
