@model WebApplication1.Models.Inscrit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscrit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Siret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acces.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acces.Statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse.Rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse.Rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidature.IdCandidature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidature.IdCandidature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maintenance.MessageMaintenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maintenance.MessageMaintenance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInscrit }) |
    @Html.ActionLink("Back to List", "Index")
</p>
