@model IEnumerable<WebApplication1.Models.Candidature>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATECandidature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offre.NumeroOffre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATECandidature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offre.NumeroOffre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCandidature }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCandidature }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCandidature })
        </td>
    </tr>
}

</table>
